a) Creating Series
 
        Series through list
        
        Series through Numpy Array
        
        Setting up our own index
        
        Series through dictionary
        
        Using repeat function along with creating a Series
        
        Accessing data from Series
----- b) Aggregate function on Pandas Series
----- c) Sereis Absolute Function
----- d) Appending Series
----- e) Astype Function
----- f) Between Functions
----- g) All strings functions can be used to extract or modify texts in a series
 
            Upper and Lower Function
            
            Len function
            
            Strip Function
            
            Split Function
            
            Contains Function
            
            Replace Function
            
            Count Function
            
            Startswith and Endswith Function
            
            Find Finction
----- h) Converting a Series to List

In [ ]:
pip install pandas as pd

a) Creating Series-
pandas is a one d labelled array capable of holding any data type
-the axis lables are collectively called index
-the labelles need not to be unique but hashable type
-it supports both integer and lable based index

series through list

In [ ]:
import pandas as pd
lst = [1,2,3,4,5]
pd.Series(lst)
pd.array()

Series through Numpy array

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5])
pd.Series(arr)

Series through Numpy array

In [ ]:
pd.Series(index=['Eshant', 'Pranjal', 'Jayesh', 'Ashish'],data=[5,2,1,3])

Series through Dictionary values.

In [ ]:
steps = steps={'day1' : 4000, 'day2' : 3000, 'day3' : 12000}
pd.Series(steps)

Using repeat function along with creating a Series---->It returns a new Series where each element of the current Series is repeated consecutively a given number of times.

In [ ]:
pd.Series(5).repeat(3)

# it prints the 0,0,0 as index and prints the 5 3 times to 1,2,3 we use reset_index(drop=true)

pd.Series(5).repeat(3).reset_index(drop=True)

# write a code such that 

# 10 should be repeated 5 times and
# 20 should be repeated 2 times

pd.Series([10,20]).repeat([5,2]).reset_index(drop=True)


Accessing elements

In [ ]:
s=[1,2,4,5]
sd=pd.Series(s)
sd[2]
# like above shown we are going to acess the element 
# we cannot acess sd[50] as there is no index in the series

# we can slice using the syntax sd[start:end-1]

sd[1:3]
sd[1:-1]


b) Aggregate function on pandas Series-it agrigate one or more operations over the specified axis in the given series obj

In [ ]:
sr=pd.Series([1,2,3,4,5,6,7])
sr.agg([min,max,sum])

c) Series absolute function-it basically makes absolute numeric value of each element in the series/Dataframe

In [ ]:
sr = pd.Series([1,-2,3,-4,5,-6,7])
sr.abs()

d) Appending Series - it basically appends the two obj
Syntax:Series.append(to_append, ignore_index=False, verify_integrity=False)

verify_integrity=False- if true it would raise exception on creating index with dupicates

In [ ]:
sr1 = pd.Series([1,-2,3])
sr2 = pd.Series([1,2,3])
sr3 = sr2.append(sr1,ignore_index=False, verify_integrity=False)
sr3

# to make accurate index 
sr3.reset_index(drop=True)

e) Astype function- it is used to change the data type of the series
mainly used when dataframe is made out of csv file the col are imported and data type is set automatically

In [ ]:
sr1
# above give int64 where below we are going to convert it into float64
sr1.astype('float')


f) Between Function - used to check values lie b/w the list blw the 1st and 2nd arg

In [ ]:
sr1 = pd.Series([1,2,30,4,5,6,7,8,9,20])
sr1[sr1.between(20,30)]

g) All strings functions can be used to extract or modify texts in a series
 
 Upper and Lower Function
 
 Len function
 
 Strip Function
 
 Split Function
 
 Contains Function
 
 Replace Function
 
 Count Function
 
 Startswith and Endswith Function
 
 Find Finction

Upper and Lower Function

In [ ]:
ser = pd.Series(["Eshant Das" , "Data Science" , "Geeks for Geeks" , 'Hello World' , 'Machine Learning'])

print(ser.str.upper())
print(ser.str.lower())

length function

In [ ]:
for i in ser:
    print(len(i))

strip function -- it basically remove the empty spaces from the series

In [ ]:
ser = pd.Series(["  Eshant Das" , "Data Science" , "Geeks for Geeks" , 'Hello World' , 'Machine Learning  '])
for i in ser:
    print(i,len(i))
print("-"*10)
# two spaces have been removed
ser=ser.str.strip()
for i in ser:
    print(i,len(i))

contains function

In [46]:
ser = pd.Series(["Eshant Das","Data@Science","Geeks for Geeks",'Hello@World','Machine Learning'])

ser[ser.str.contains('@')]

1    Data@Science
3     Hello@World
dtype: object

count function

In [48]:
ser.str.count('a')

0    2
1    2
2    0
3    0
4    2
dtype: int64

starts with and ends with

In [50]:
ser[ser.str.startswith('D')]
ser[ser.str.endswith('s')]

0         Eshant Das
2    Geeks for Geeks
dtype: object

h) Converting a Series to List--> used to convert a series to a list

In [51]:
ser.to_list()

['Eshant Das',
 'Data@Science',
 'Geeks for Geeks',
 'Hello@World',
 'Machine Learning']