## <font color='green'>2. Detailed Coding Implementations on Pandas DataFrame</font>

Pandas DataFrame si 2d size mutable ,potentially heterogeneous tabular ds with labelled rows and cols 
Pandas DataFrame consists of 3 principles components 
1.data
2.rows
3.cols

a) Creating the DataFrame
-->it will be creating by loading the datasets from existing storage ,storage can be sql ,csv,excel fiels 
--.can be created using the list dictionary and list of dictionary

#### Creating a dataframe using List: 
DataFrame can be created using a single list or a list of lists.

In [ ]:
import pandas as pd
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
pd.DataFrame(lst)

In [ ]:
lst =[['tom',10],['jerry',20],['spike',30]]
pd.DataFrame(lst)

Creating dataFrame from dict of ndarray/lists:
-->to create it it must have all narray must be of the same length 
-->If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [ ]:
data ={'name':['Tom', 'nick', 'krish', 'jack'],'age':[20, 21, 19, 18]}
pd.DataFrame(data)

We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.
-->Column Selection: In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [ ]:
data = { 'Name'         :['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age'          :[27, 24, 22, 32],
         'Address'      :['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
         'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df=pd.DataFrame(data)
df

# acesssing the colums:
df[['Name','Qualification']]

b) Slicing in DataFrames Using iloc and loc

-->loc() and iloc() are one of those methods. These are used in slicing data from the Pandas DataFrame. They help in the convenient selection of data from the DataFrame in Python.
--> They are used in filtering the data according to some conditions.

In [ ]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
df

Basic loc Operations:
--> in this we are going tpo pass the name of the row or column which we want to select

In [ ]:
df.loc[1:3,'two':'three']
# first we have to pass the row as its axis is 0 and col as 1

Basic iloc() Operations:
-->in the loc() we used the label based indexing where as in this iloc() we are going to use integer indexing.
-->it does not acept the boolean data unlike loc()

In [ ]:
df.iloc[1:2,2:3]
df.iloc[:,2:3]

# selecting specific rows

df.iloc[[1,3],[1,2]]


c) Slicing Using Conditions:

In [ ]:
df.loc[df['two']<20,['three','four']]

df.loc[df['three']>200,['four']]

c) Column Addition in DataFrame:
We can add a column in many ways. Let us discuss three ways how we can add column here

-->Using List
-->Using Pandas Series
-->Using an existing Column(we can modify that column in the way we want and that modified part can also be displayed)

In [ ]:
# 1.using the list
lst=[1,2,3,4]
df['five']=lst
df

In [ ]:
# 2.using the Pandas Series
sr=pd.Series([10,20,30,40])
df['six']=sr
df

In [ ]:
# 3.using the existing col
df['seven']=df['two']+20
df

d) Column Deletion in Dataframes:
-->using del
-->using the pop

In [ ]:
# using the del
del df['six']
df

In [ ]:
# using the pop 
df.pop('five')
df

e) Addition of rows

In [ ]:
df1 = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])


df3 = df1.append(df2).reset_index(drop = True)

df3

In [ ]:
data = { 'one'   : pd.Series([1, 2, 3, 4]),
         'two'   : pd.Series([10, 20, 30, 40]),
         'three' : pd.Series([100, 200, 300, 400]),
         'four'  : pd.Series([1000, 2000, 3000, 4000])}


df = pd.DataFrame(data)
df

f) Pandas drop function:

axis=0-->rows
axis=1-->cols

In [ ]:
# for the rows
df.drop([0,1],axis=0,inplace=True)
# instead of df=df for savingg we use inplace=true

In [ ]:
# for the cols axis=1
df.drop(['one','four'],axis=1,inplace=True)
df