## <font color='green'>2. Detailed Coding Implementations on Pandas DataFrame</font>

Pandas DataFrame si 2d size mutable ,potentially heterogeneous tabular ds with labelled rows and cols 
Pandas DataFrame consists of 3 principles components 
1.data
2.rows
3.cols

a) Creating the DataFrame
-->it will be creating by loading the datasets from existing storage ,storage can be sql ,csv,excel fiels 
--.can be created using the list dictionary and list of dictionary

#### Creating a dataframe using List: 
DataFrame can be created using a single list or a list of lists.

In [1]:
import pandas as pd
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
pd.DataFrame(lst)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [ ]:
lst =[['tom',10],['jerry',20],['spike',30]]
pd.DataFrame(lst)

Creating dataFrame from dict of ndarray/lists:
-->to create it it must have all narray must be of the same length 
-->If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [ ]:
data ={'name':['Tom', 'nick', 'krish', 'jack'],'age':[20, 21, 19, 18]}
pd.DataFrame(data)

We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.
-->Column Selection: In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [ ]:
data = { 'Name'         :['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age'          :[27, 24, 22, 32],
         'Address'      :['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
         'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df=pd.DataFrame(data)
df

# acesssing the colums:
df[['Name','Qualification']]

b) Slicing in DataFrames Using iloc and loc

-->loc() and iloc() are one of those methods. These are used in slicing data from the Pandas DataFrame. They help in the convenient selection of data from the DataFrame in Python.
--> They are used in filtering the data according to some conditions.

In [ ]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
df

Basic loc Operations:
--> in this we are going tpo pass the name of the row or column which we want to select

In [ ]:
df.loc[1:3,'two':'three']
# first we have to pass the row as its axis is 0 and col as 1

Basic iloc() Operations:
-->in the loc() we used the label based indexing where as in this iloc() we are going to use integer indexing.
-->it does not acept the boolean data unlike loc()

In [ ]:
df.iloc[1:2,2:3]
df.iloc[:,2:3]

# selecting specific rows

df.iloc[[1,3],[1,2]]


c) Slicing Using Conditions:

In [ ]:
df.loc[df['two']<20,['three','four']]

df.loc[df['three']>200,['four']]

c) Column Addition in DataFrame:
We can add a column in many ways. Let us discuss three ways how we can add column here

-->Using List
-->Using Pandas Series
-->Using an existing Column(we can modify that column in the way we want and that modified part can also be displayed)

In [ ]:
# 1.using the list
lst=[1,2,3,4]
df['five']=lst
df

In [ ]:
# 2.using the Pandas Series
sr=pd.Series([10,20,30,40])
df['six']=sr
df

In [ ]:
# 3.using the existing col
df['seven']=df['two']+20
df

d) Column Deletion in Dataframes:
-->using del
-->using the pop

In [ ]:
# using the del
del df['six']
df

In [ ]:
# using the pop 
df.pop('five')
df

e) Addition of rows

In [ ]:
df1 = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])


df3 = df1.append(df2).reset_index(drop = True)

df3

In [ ]:
data = { 'one'   : pd.Series([1, 2, 3, 4]),
         'two'   : pd.Series([10, 20, 30, 40]),
         'three' : pd.Series([100, 200, 300, 400]),
         'four'  : pd.Series([1000, 2000, 3000, 4000])}


df = pd.DataFrame(data)
df

f) Pandas drop function:

axis=0-->rows
axis=1-->cols

In [ ]:
# for the rows
df.drop([0,1],axis=0,inplace=True)
# instead of df=df for savingg we use inplace=true

In [ ]:
# for the cols axis=1
df.drop(['one','four'],axis=1,inplace=True)
df

g) Transposing a DataFrame:
-->we use T attribute for transposing a DataFrame which means rows are converted to cols and columns are converted to rows

In [ ]:
data = { 'one'   : pd.Series([1, 2, 3, 4]),
         'two'   : pd.Series([10, 20, 30, 40]),
         'three' : pd.Series([100, 200, 300, 400]),
         'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
df.T

h) A set of more DataFrame Functionalities:
1.axes function-returns the list of with rows and cols-->first for row and 2nd cols
2.ndim function->returns the dimentions of DF always 2 for DF
3.dtypes--> returns the data type column wise
4.shape function-->returnns the in the form of tuples nor of roes and cols
5.df.head() function-->examine and returns the first n few rows of DF
6.df.tail() function-->examine and returns the last n few rows of DF
7.empty function()-->cheks wheather the DF is the empty and return a boolean value

In [ ]:
# 1.axes function
df.axes

In [ ]:
# 2.ndim function
df.ndim

In [ ]:
# 3.dtypes:
df.dtypes

In [ ]:
# 4.shape function
df.shape

In [ ]:
# 5.df.head() function
df.head(3)

In [ ]:
# 6.df.tail() function
df.tail(2)

i) Statistical or Mathematical Functions
Sum 
 
 Mean 
 
 Median 
 
 Mode 
 
 Variance 
 
 Min 
 
 Max 
 
 Standard Deviation

In [ ]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
df

In [ ]:
# 1.sum
df.sum()

In [ ]:
# 2.mean
df.mean()

In [ ]:
# 3.Median
df.median()

In [ ]:
# 4.Mode
de = pd.DataFrame({'A': [1, 2, 2, 3, 4, 4, 4, 5], 'B': [10, 20, 20, 30, 40, 40, 50, 60]})

print('A' , de['A'].mode())
print('B' , de['B'].mode())

In [ ]:
# 5.Variance
df.var()

In [ ]:
# 6.Min
df.min()

In [ ]:
# 7.Max
df.max()

In [ ]:
# 8.Standard Deviation
df.std()

j) Describe Function:
-->returns descriptive statistics of the data in the DataFrame. It provides a quick summary of the central tendency, dispersion, and shape of the distribution of a set of numerical data.

-->The default behavior of describe() is to compute descriptive statistics for all numerical columns in the DataFrame. 
-->If you want to compute descriptive statistics for a specific column, you can pass the name of the column as an argument.

In [62]:
data = {'one'  : pd.Series([1, 2, 3, 4]),
        'two'  : pd.Series([10, 20, 30, 40]),
        'three': pd.Series([100, 200, 300, 400]),
        'four' : pd.Series([1000, 2000, 3000, 4000]),
        'five' : pd.Series(['A','B','C','D'])}


df = pd.DataFrame(data)

df.describe()

            one        two       three         four
count  4.000000   4.000000    4.000000     4.000000
mean   2.500000  25.000000  250.000000  2500.000000
std    1.290994  12.909944  129.099445  1290.994449
min    1.000000  10.000000  100.000000  1000.000000
25%    1.750000  17.500000  175.000000  1750.000000
50%    2.500000  25.000000  250.000000  2500.000000
75%    3.250000  32.500000  325.000000  3250.000000
max    4.000000  40.000000  400.000000  4000.000000

k) Pipe Functions:
The pipe() method in a Pandas DataFrame allows you to apply a function to the DataFrame, similar to the way the apply() method works. The difference is that pipe() allows you to chain multiple operations together by passing the output of one function to the input of the next function.

In [ ]:
data = {'one'  : pd.Series([1, 2, 3, 4]),
        'two'  : pd.Series([10, 20, 30, 40]),
        'three': pd.Series([100, 200, 300, 400]),
        'four' : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
df

In [ ]:

def add_(i,j):
    return i + j

df.pipe(add_, 10)

In [ ]:
def mean_(col):
    return col.mean()

def square(i):
    return i ** 2

df.pipe(mean_).pipe(square)

2. Apply Function
The apply() method in a Pandas DataFrame allows you to apply a function to the DataFrame, either to individual elements or to the entire DataFrame. The function can be either a built-in Python function or a user-defined function

In [67]:
import numpy as np
data = {'one'  : pd.Series([1, 2, 3, 4]),
        'two'  : pd.Series([10, 20, 30, 40]),
        'three': pd.Series([100, 200, 300, 400]),
        'four' : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
df
print(df.apply(np.mean))

one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64

In [68]:
df.apply(lambda x: x.max() - x.min())

one         3
two        30
three     300
four     3000
dtype: int64

3. Apply map function
The map() method in a Pandas DataFrame allows you to apply a function to each element of a specific column of the DataFrame. The function can be either a built-in Python function or a user-defined function.

In [69]:
df = pd.DataFrame({ 'A': [1.2, 3.4, 5.6], 
                    'B': [7.8, 9.1, 2.3]})

df_1 = df.applymap(np.int64)
print(df_1)

df_2 = df.apply(lambda row : row.mean(), axis = 0)
print(df_2)

   A  B
0  1  7
1  3  9
2  5  2
A    3.4
B    6.4
dtype: float64

l) Reindex Function:

In [70]:
data = { 'one'   : pd.Series([1, 2, 3, 4]),
         'two'   : pd.Series([10, 20, 30, 40]),
         'three' : pd.Series([100, 200, 300, 400]),
         'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
# example 1 for rows 
print(df)
print('-'*30)
print(df.reindex([1,0,3,2]))

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
------------------------------
   one  two  three  four
1    2   20    200  2000
0    1   10    100  1000
3    4   40    400  4000
2    3   30    300  3000

In [71]:
# example-2
data = {'Name' : ['John', 'Jane', 'Jim', 'Joan'],
        'Age'  : [25, 30, 35, 40],
        'City' : ['New York', 'Los Angeles', 'Chicago', 'Houston']}

df = pd.DataFrame(data)

df.(columns = ['Name','City','Age'])

   Name         City  Age
0  John     New York   25
1  Jane  Los Angeles   30
2   Jim      Chicago   35
3  Joan      Houston   40


m) Renaming Columns in Pandas DataFrame

In [72]:
data = { 'one'   : pd.Series([1, 2, 3, 4]),
         'two'   : pd.Series([10, 20, 30, 40]),
         'three' : pd.Series([100, 200, 300, 400]),
         'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)

df.rename(columns = {'one' : 'One','two': 'Two', 'three' : 'Three', 'four' : 'Four'}, 
           inplace = True, index = {0:'a',1:'b',2:'c',4:'d'})
df

   One  Two  Three  Four
a    1   10    100  1000
b    2   20    200  2000
c    3   30    300  3000
3    4   40    400  4000