In [2]:
import pandas as pd
df=pd.read_csv("AB_NYC_2019.csv")

1.dimension of data

In [4]:
df.shape

(48895, 16)

2.how does the data look

In [5]:
df.head()
df.tail()
# to take ranndom values we use sample
df.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48279,36176688,Quaint Little Reader’s Retreat in Hudson Heights.,272081051,Isabelle,Manhattan,Washington Heights,40.85342,-73.93714,Entire home/apt,99,3,0,NaN,NaN,1,34
42955,33362399,Charming 2 bedroom apartment in Manhattan,1692538,Nuttamon,Manhattan,Washington Heights,40.85476,-73.93094,Private room,196,1,6,2019-06-23,3.53,5,336
12733,9750139,Sunset Retreat - Charming Oasis,50292584,Haydee,Brooklyn,Sunset Park,40.64218,-74.01175,Entire home/apt,90,2,75,2019-06-06,1.84,2,364
6886,4925050,"Beautiful Guest Room in Fort Greene, Brooklyn",23069182,Richard,Brooklyn,Fort Greene,40.68346,-73.97214,Private room,100,1,55,2019-06-23,4.16,1,342
6641,4786139,Designer 1BD w/ backyard space,1760609,Matt + Allie,Manhattan,East Village,40.72230,-73.98128,Entire home/apt,315,1,2,2015-08-31,0.04,1,0

3.what is the data type of cols

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

4.are there any missing values

In [9]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

5.how does the data look mathematically

In [10]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

6.are thereany duplicate values

In [18]:
val=df.duplicated().sum()
val

0

7.how many values are there in each column

In [27]:
df.nunique()
value=df["neighbourhood_group"].unique()
value

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)